@page
@model Lunas_mini_aussies_.PagesPuppies.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<div class="input-group">
  <div class="form-outline" data-mdb-input-init>
    <input type="search" id="form1" class="form-control" />
    <label class="form-label" for="form1">Search</label>
  </div>
  <button type="button" class="btn btn-primary" data-mdb-ripple-init>
    <i class="fas fa-search"></i>
  </button>
</div>
<hr />
<form>
	<select asp-for="CurrentSort" asp-items="Model.SortPups">
		<option value="">sort by...</option>
	</select>
	<button type="submit">Sort</button>
</form>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Puppy[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puppy[0].Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puppy[0].Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puppy[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puppy[0].Temp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puppy[0].mom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puppy[0].dad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Puppy) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dad)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PuppyID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PuppyID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PuppyID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<hr />

@{
    var prevDisabled ="";
    if (Model.PageNum<=1)
    {
        prevDisabled = "disabled";
    }
    var x = Model.Puppy.Count();
    var y = x / Model.PageSize;
    decimal z = Math.Ceiling(y);
    var nextDisabled = "";
    if ((Model.PageNum + 1) ==z )
    {
        nextDisabled = "disabled";
    }
}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item @prevDisabled"><a class="page-link" asp-page="./Index" asp-route-PageNum="@(Model.PageNum - 1)">Previous</a></li>
        <li class="page-item @nextDisabled"><a class="page-link" asp-page="./Index" asp-route-PageNum="@(Model.PageNum + 1)">Next</a></li>
    </ul>
</nav>

